.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.project-item {
    border: 1px solid rgb(201, 199, 199);
    padding: 0.5rem;
}

.other-project-item {
    /* border: 1px solid rgb(201, 199, 199); */
    padding: 0rem;
}


.thumbnail-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%; /* creates a 1:1 aspect ratio */
  overflow: hidden;
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.item-title {
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 5% 0 0 0;
}

#video {
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 2% auto;
    text-align: center;
    color: #006676;
}

#motion-graphics-design {
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 2% auto;
    text-align: center;
    color: #006676;
}